<div class="container">
  <div class="block header">
    <h1 class="block-title">Welcome to Convelio</h1>
    <p class="block-paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <nav class="header-nav">
      <a class="header-nav-link" routerLink="/">Home</a>
      <a class="header-nav-link" routerLink="order">Orders</a>
      <a class="header-nav-link" routerLink="order/draft">Drafts</a>
    </nav>
  </div>
</div>
