<div class="block">
  <h2 class="block-subtitle">Orders</h2>
  <table class="orders-list">
    <thead class="orders-list-header">
      <tr>
        <td class="order-detail --number">number</td>
        <td class="order-detail --address">from</td>
        <td class="order-detail --address">to</td>
        <td class="order-detail --price">price</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders | async" class="order">
        <td class="order-detail --number">
          <a [routerLink]="[order.id]">{{order.number}}</a>
        </td>
        <td class="order-detail --address">{{order.from}}</td>
        <td class="order-detail --address">{{order.to}}</td>
        <td class="order-detail --price">{{order.price}}€</td>
      </tr>
    </tbody>
  </table>
</div>
