<div class="block">
    <h2 class="block-subtitle">Order #{{ orderDetail.id }} detail</h2>
    <table class="orders-detail">
        <thead class="orders-detail-header">
            <tr>
                <td class="order-detail --number">{{ draft ? 'name' : 'number' }}</td>
                <td class="order-detail --address">from</td>
                <td class="order-detail --address">to</td>
                <td class="order-detail --price">price</td>
            </tr>
        </thead>
        <tbody>
            <tr class="order">
                <td class="order-detail --number">{{ draft ? orderDetail.name : orderDetail.number }}</td>
                <td class="order-detail --address">{{orderDetail.from}}</td>
                <td class="order-detail --address">{{orderDetail.to}}</td>
                <td class="order-detail --price">{{orderDetail.price}}€</td>
            </tr>
        </tbody>
    </table>
</div>
