<div class="block">
  <div class="col-wrapper">
    <div class="col-12">
      <h2 class="block-subtitle">Home page</h2>
      <p class="block-paragraph --panel">
        Donec tincidunt lacinia pellentesque. Praesent a nibh orci. Nulla blandit fringilla magna nec sodales.
        Vivamus ante felis, tristique in ex a, fringilla hendrerit mi. Cras vehicula id dolor a tristique.
      </p>
    </div>
  </div>
</div>

<div class="block">
  <div class="col-wrapper">
    <div class="col-4">
      <h2 class="block-subtitle">Omins iste !</h2>
        <p class="block-paragraph --important">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
        <p class="block-paragraph">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
        <p class="block-paragraph --shiny">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
    </div>
    <div class="col-8">
      <img src="./../../../../assets/images/crate.png" alt="Parcel delivery manager drawing">
    </div>
  </div>
</div>